/*
	Author: Armando Gautreaux
	Template: Basic-Portfolio/Responsive-Portfolio
	Version: 0.2
	GITHUB: https://github.com/armandogautreaux
*/

/* TABLE OF CONTENTS

	1.   General Styles
	1.1  Links
  1.2  Container
  1.3  Grid
  1.4  Clearfix
  2.   Main Header
  2.1  Logo
  2.2  Navigation
  3.   Main Content
	3.1  Page Title
	4.   Main Footer
	5.   About Me
	6.   Portfolio
  7.   Contact
  8.   Media (980px)
  9.   Media (768px)
  10.  Media (640px)
  11.  Media (320px)

*/

/*
  ========================================
  1. General Styles
  ========================================
*/

body {
  background: url('../images/background.jpg');
  color: #777;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 120px;
}

h1,
h2,
h3,
h4 {
  color: #4aaaa5;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

p {
  margin-bottom: 22px;
  line-height: 200%;
  font-size: 1rem;
}

/*
========================================
1.1 Links
========================================
*/

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #4aaaa5;
}

/*
========================================
1.2 Container
========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.container-main {
  margin: 0 auto;
  width: 960px;
}

/*
========================================
1.3 Grid
========================================
*/

.grid {
  margin: 0 auto;
  width: 960px;
  padding-bottom: 40px;
}

.col-1-3,
.col-2-3 {
  margin-right: 0;
  margin-bottom: 58px;
  display: inline-block;
  vertical-align: top;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/*
========================================
1.4 Clearfix
========================================
*/

.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
========================================
2. Main Header
========================================
*/

.primary-header {
  background: #fff;
  border-bottom: 2px solid #cccccc;
}

/*
========================================
2.1 Logo
========================================
*/

.logo {
  height: 90px;
  background-color: #4aaaa5;
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}

.logo:hover {
  background: #666;
}

.logo a {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 90px;
  color: #fff;
  font-weight: bold;
}

.logo a:hover {
  color: #fff;
}

/*
========================================
2.2 Navigation
========================================
*/

nav {
  height: 90px;
}

.primary-nav {
  font-size: 1rem;
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  line-height: 1rem;
  vertical-align: top;
  margin-top: 40px;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid lightgrey;
}

.nav li:last-child {
  border-right: none;
  padding-right: 0;
}

.nav li:last-child {
  margin-right: 0;
}

.primary-header a:hover {
  color: #4aaaa5;
}

li .active {
  color: #4aaaa5;
}

/*
========================================
3. Main content
========================================
*/

.main {
  background: #fff;
  min-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ddd;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

/*
========================================
3.1 Page Title
========================================
*/

.title {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  color: #4aaaa5;
  padding-top: 42px;
  padding-bottom: 34px;
  font-weight: bold;
  border-bottom: 3px solid #d9d9d9;
}

/*
========================================
4. Footer
========================================
*/

.primary-footer {
  position: fixed;
  height: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  color: #d8d8d8;
  background: #666;
  padding-top: 20px;
  border-top: 8px solid #4aaaa5;
}

.primary-footer a {
  color: #d8d8d8;
}
.primary-footer a:hover {
  color: #4aaaa5;
}

/*
========================================
5. About Me
========================================
*/

.content {
  padding-top: 30px;
  padding-bottom: 8px;
}

img {
  height: 150px;
  width: 200px;
}

.float-image {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-top: 8px;
}

/*
========================================
6. Portfolio
========================================
*/

.img-wrap {
  width: 280px;
  height: 210px;
  padding: 0px;
  position: relative;
}
.img-wrap img {
  height: 100%;
  width: 100%;
}

.img-wrap img:hover,
.img-wrap .img-caption:hover {
  transform: scale(1.1);
}

.img-caption {
  background-color: #4aaaa5;
  width: 100%;
  height: 60px;
  bottom: 10px;
  left: 0;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  line-height: 60px;
}
.img-caption h3 {
  font-size: 24px;
  color: #fff;
}

/*
========================================
7. Contact
========================================
*/

form {
  margin-bottom: 22px;
}

input,
textarea {
  font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.contact-form label {
  color: #666;
  font-weight: 100;
  cursor: pointer;
}

.contact-form input,
.contact-form textarea {
  color: lightgrey;
  display: block;
  margin: 10px 0 20px 0;
  padding: 5px 8px;
  border: 1px solid #ddd;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

.contact-form textarea {
  height: 206px;
}

.btn-default {
  background: #4aaaa5;
  color: #fff;
  font-size: 14px;
  width: 118px;
  padding: 11px 30px;
  border: 0;
}

.btn-default:hover {
  background: #666;
}

/*
========================================
8. Media (980px)
========================================
*/

@media screen and (max-width: 980px) {
  .container,
  .container-main {
    width: 90%;
  }
}

/*
========================================
9. Media (768px)
========================================
*/

@media screen and (max-width: 768px) {
  .logo a {
    font-size: 1.5rem;
  }

  .grid {
    width: 100%;
  }

  .col-1-3 {
    width: 46%;
    margin: 11px;
  }

  .img-wrap {
    width: 100%;
    height: auto;
  }
}

/*
========================================
10. Media (640px)
========================================
*/

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .logo a {
    font-size: 2rem;
  }

  .nav {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .col-1-3 {
    width: 100%;
    margin: 20px 0;
  }
}

/*
========================================
11. Media (320px)
========================================
*/

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }

  .container-main {
    width: 320px;
  }

  .logo a {
    font-size: 1.5rem;
  }
}
